.text-animate-hover {
    &:hover {
      color: #fff;
    }
  }
.container {
  width: 100%;
  height: 90%;
  min-height: 566px;
  position: absolute;
  opacity: 0;
  top: 5%;
  margin: 0 auto;
  z-index: 1;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.with{
width: auto !important;
}

.scrollable{
  overflow-y: auto; // Enable vertical scrolling
  top: 52px !important;
}


.container.skills .text-zone h1:before {
  content: '<h1>';
  font-family: 'La Belle Aurore', cursive;
  color: #ffd700;
  font-size: 18px;
  position: absolute;
  margin-top: -35px;
  opacity: 0.6;
  left: -10px;
  text-align: justify;
}

.container.skills .text-zone h1:after {
  content: '<h1/>';
  font-family: 'La Belle Aurore', cursive;
  color: #ffd700;
  font-size: 18px;
  position: absolute;
  left: -35px;
  bottom: -40px;
  opacity: 0.6;
  margin-left: 20px
}


.container.skills .text-zone {
  position: absolute;
  left: 10%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 35%;
  vertical-align: middle;
  display: table-cell;
  max-height: 90%;
  z-index: 3;
}

.container.skills .text-zone h1 {
  font-size: 53px;
  font-family: font-file-82132;
  color: #ffd700;
  font-weight: 600;
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 40px;
  position: relative;
  display: block;
  cursor: default;
}

.container.skills .text-zone p {
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-align: justify;
}

.text-zone p {
  font-size: 14px !important;
  color: #fff;
  line-height: 20px
}

.text-zone p a span,
.text-zone p a {
  color: #ffd700;
  text-decoration: underline
}

.text-zone p a:hover span,
.text-zone p a:hover {
  color: #fff
}

.text-zone h2 {
  color: #fff;
  font-size: 16px
}

.tech-tag {
  color: #ffd700;
}

.container.skills .text-zone p {
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 300
}

.blast {
  display: inline-block;
}

.container.skills h1 .blast:hover {
  color: #fff;
}

.container.skills h1 .blast {
  will-change: transform;
  opacity: 0;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out
}

svg:not(:root) {
  overflow: hidden
}

.extraCSS {
  margin-bottom: 5px;
  margin-top: 5px;
  max-width: 75%;
  width: 200%;
}

@media only screen and (max-width: 768px) {
  .container.skills {
      top: 35px;
    }
  .container.skills .text-zone {
    margin-top: 100px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 480px) {
  .container.skills .text-zone {
    width: 90%;
  }
}
