@media only screen and (max-width: 768px) {
  .container.terminal-page {
    top: 11%;
    padding: 25px; // Adjust padding as needed
    overflow-y: scroll;
    .text-zones {
      width: 100%; // Adjust the text zone width according to your design
      margin: 0 auto; // Center align the text zone
    }
  }
  .terminalimage {
    height: 250px !important;
    width: 370px !important;
  }
  .extraCSS {
    font-size: medium;
  }
  .spanCss {
    font-size: 40px;
  }
}

.terminal-page {
  top: 7%;
  overflow-y: scroll;
  h1 {
    font-size: 53px;
    font-family: 'Coolvetica';
    color: #ffd700;
    font-weight: 400;
    margin-top: 0;
    position: relative;
    margin-bottom: 40px;
    left: -10px;

    &:before {
      content: '<h1>';
      font-family: 'La Belle Aurore', cursive;
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: -10px;
      left: -10px;
      opacity: 0.6;
      line-height: 18px;
    }

    &:after {
      content: '<h1/>';
      font-family: 'La Belle Aurore', cursive;
      color: #ffd700;
      font-size: 18px;
      line-height: 18px;
      position: absolute;
      left: -30px;
      bottom: -20px;
      margin-left: 20px;
      opacity: 0.6;
    }

    @media screen and (max-width: 768px) {
      font-size: 36px;
    }
  }

  p {
    font-size: 13px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 300;
    max-width: fit-content;
    animation: pulse 1s;

    &:nth-of-type(1) {
      animation-delay: 1.1s;
    }

    &:nth-of-type(2) {
      animation-delay: 1.2s;
    }

    &:nth-of-type(3) {
      animation-delay: 1.3s;
    }

    @media screen and (max-width: 768px) {
      font-size: 12px;
    }
  }

  .text-zones {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 85%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;
    font-size: 14px;

    @media screen and (max-width: 768px) {
      position: initial;
      transform: none;
      width: 100%;
      display: block;
      padding: 20px;
      box-sizing: border-box;
    }
  }

  .text-animate-hover {
    &:hover {
      color: #fff;
    }
  }
}

.terminalimage {
  height: 350px;
  width: 625px;
}

.clear:before,
.clear:after {
  content: ' ';
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1;
  clear: both;
}

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.02;
}

.clear:before,
.clear:after {
  content: ' ';
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1;
  clear: both;
}
.flat-button {
  color: #ffd700;
  font-size: 13px;
  font-weight: bolder;
  letter-spacing: 3px;
  text-decoration: none;
  padding: 8px 10px;
  border: 1px solid #ffd700;
  border-radius: 4px;
  background: 0 0;
  text-transform: uppercase;
  float: left;
  text-align: center;
  margin-right: 10px;
}
