.container {
  width: 100%;
  will-change: contents;
  height: 90%;
  min-height: 566px;
  position: absolute;
  opacity: 0;
  top: 5%;
  margin: 0 auto;
  z-index: 1;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d
} 

.container.skills h1 .blast {
  will-change: transform;
  opacity: 0;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out
}

.container.skills .text-zone h1:before {
  content: '<h1>';
  font-family: 'La Belle Aurore', cursive;
  color: #ffd700;
  font-size: 18px;
  position: absolute;
  margin-top: -35px;
  opacity: 0.6;
  left: -10px;
  text-align: justify;
}

.container.skills .text-zone h1:after {
  content: '<h1/>';
  font-family: 'La Belle Aurore', cursive;
  color: #ffd700;
  font-size: 18px;
  position: absolute;
  left: -35px;
  bottom: -40px;
  opacity: 0.6;
  margin-left: 20px
}

.container.skills h1 .blast:hover {
  color: #fff;
}

.container.skills .text-zone {
  position: absolute;
  left: 10%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 30%;
  vertical-align: middle;
  display: table-cell;
  max-height: 90%;
  z-index: 3;
}

.container.skills .text-zone h1 {
  font-size: 53px;
  font-family: font-file-82132;
  color: #ffd700;
  font-weight: 400;
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 40px;
  position: relative;
  display: block
}

.container.skills .text-zone p {
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-align: justify;
}

.skills-charts {
  position: absolute;
  width: 80%;
  right: -15%;
  left: auto;
  height: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 2
}

.text-zone p {
  font-size: 14px !important;
  color: #fff;
  line-height: 20px
}

.text-zone p a span,
.text-zone p a {
  color: #ffd700;
  text-decoration: underline
}

.text-zone p a:hover span,
.text-zone p a:hover {
  color: #fff
}

.text-zone h2 {
  color: #fff;
  font-size: 16px
}
.tech-tag {
  color: #ffd700;
}

#myCanvasContainer {
  position: relative;
  height: 100%;
  width: 100%
}

#myCanvasContainer li a {
  font-size: 30px;
  font-family: font-file-82132
}

#myCanvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: auto;
  height: 100%
}

.container.skills .text-zone p {
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 300
}
.blast {
  display: inline-block;
}
.container.skills h1 .blast:hover {
  color: #fff;
}

.container.skills h1 .blast {
  will-change: transform;
  opacity: 0;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out
}

svg:not(:root) {
  overflow: hidden
}

@media (min-width:1100px) and (min-height:900px) {
  h1 {
    font-size: 73px !important;
    line-height: 67px !important
  }

  .text-zone p {
    font-size: 16px !important;
    line-height: 23px !important
  }

  .container.skills .text-zone h1:before {
    margin-top: -38px
  }

  .container.skills .text-zone h1:after {
    bottom: -44px
  }

  .bg {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2)
  }

}

@media (max-width: 960px) {
  #world {
    position: relative !important;
    width: 90% !important;
    height: auto !important;
    margin: auto
  }

  #page {
    height: auto;
    position: relative;
  }

  .skills-charts {
    position: relative;
    left: 0;
    width: 80%;
    top: 0;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    clear: both;
    margin: auto;
    overflow: hidden
  }

  .white .logo {
    padding-bottom: 4px
  }

  #nav_bar {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    min-height: 0
  }

  .white #nav_bar {
    border-right: 0;
    border-bottom: 1px solid #f4f4f4
  }

  .logo {
    float: left;
    padding: 2px 0;
    margin-right: 20px
  }

  .logo img {
    display: block;
    margin: 5px 15px 5px 19px;
    width: auto;
    height: auto
  }

  .logo img.sub-logo {
    width: 50px;
    margin-left: 5px;
  }

  .logo>img:first-child {
    height: 30px
  }

  .lang {
    float: left;
    width: auto;
    margin-top: 0;
    line-height: 60px
  }

  .lang a {
    margin-top: 0;
    display: inline;
    margin-right: 7px
  }

  .container {
    width: 100%;
    height: auto;
    padding-bottom: 58px;
    box-sizing: border-box;
    position: relative;
    top: 0;
    overflow: hidden
  }

  .bg {
    right: 0;
    left: 0;
    opacity: .5
  }

  .container.gallery {
    position: absolute;
    min-height: 1200px
  }

  .magicwall .magicwall-grid {
    margin-left: 0;
    margin-top: 60px
  }

  .tags {
    margin-left: 10px;
    left: 0
  }

  .top-tags {
    bottom: auto;
    top: 76px
  }

  .bottom-tags {
    position: absolute;
    clear: both;
    float: left;
    margin-top: 22px;
    bottom: 0
  }

  .text-zone {
    position: static !important;
    max-height: auto;
    min-height: 350px;
    float: left;
    margin-left: 10%;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    margin-top: 170px;
    text-align: justify !important;
  }

  .container.skills .text-zone {
    width: 80%;
    min-height: 0
  }

  .sound-cloud {
    position: static;
    width: 80%;
    margin-left: 10%;
    padding-top: 50px;
    margin-bottom: 50px
  }

  #myCanvasContainer {
    position: relative;
    margin: 0 10% !important;
    top: 0 !important;
    left: 0 !important;
    display: block;
    clear: both;
    width: 80%;
    height: auto
  }

  #myCanvas {
    position: relative;
    width: 100%;
    margin: 0
  }

  body {
    overflow: auto
  }

  .blog-link {
    display: none
  }

  .map-wrap {
    float: none;
    width: 80%;
    margin-left: 10%;
    height: 320px;
    clear: both
  }

  .inf-map {
    top: auto;
    right: 5%;
    bottom: 50px
  }

  .stage-cube-cont {
    position: relative;
    width: 100%;
    height: 445px;
  }
}

@-webkit-keyframes bounceIn {

  0%,
  100%,
  20%,
  40%,
  60%,
  80% {
    -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transition-timing-function: cubic-bezier(.215, .61, .355, 1)
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3)
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1)
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9)
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03)
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97)
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}

@keyframes bounceIn {

  0%,
  100%,
  20%,
  40%,
  60%,
  80% {
    -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transition-timing-function: cubic-bezier(.215, .61, .355, 1)
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    -ms-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3)
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1)
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    -ms-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9)
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    -ms-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03)
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    -ms-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97)
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: .75s;
  animation-duration: .75s
}

@-webkit-keyframes bounceInDown {

  0%,
  100%,
  60%,
  75%,
  90% {
    -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transition-timing-function: cubic-bezier(.215, .61, .355, 1)
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0)
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0)
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0)
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0)
  }

  100% {
    -webkit-transform: none;
    transform: none
  }
}

@keyframes bounceInDown {

  0%,
  100%,
  60%,
  75%,
  90% {
    -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transition-timing-function: cubic-bezier(.215, .61, .355, 1)
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    -ms-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0)
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    -ms-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0)
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0)
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0)
  }

  100% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown
}

@-webkit-keyframes bounceInLeft {

  0%,
  100%,
  60%,
  75%,
  90% {
    -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transition-timing-function: cubic-bezier(.215, .61, .355, 1)
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0)
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0)
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0)
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0)
  }

  100% {
    -webkit-transform: none;
    transform: none
  }
}

@keyframes bounceInLeft {

  0%,
  100%,
  60%,
  75%,
  90% {
    -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transition-timing-function: cubic-bezier(.215, .61, .355, 1)
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    -ms-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0)
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    -ms-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0)
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    -ms-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0)
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    -ms-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0)
  }

  100% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft
}

@-webkit-keyframes bounceInRight {

  0%,
  100%,
  60%,
  75%,
  90% {
    -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transition-timing-function: cubic-bezier(.215, .61, .355, 1)
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0)
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0)
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0)
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0)
  }

  100% {
    -webkit-transform: none;
    transform: none
  }
}

@keyframes bounceInRight {

  0%,
  100%,
  60%,
  75%,
  90% {
    -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transition-timing-function: cubic-bezier(.215, .61, .355, 1)
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    -ms-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0)
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    -ms-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0)
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    -ms-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0)
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    -ms-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0)
  }

  100% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}

.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight
}

@-webkit-keyframes bounceInUp {

  0%,
  100%,
  60%,
  75%,
  90% {
    -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transition-timing-function: cubic-bezier(.215, .61, .355, 1)
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0)
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0)
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0)
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0)
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}

@keyframes bounceInUp {

  0%,
  100%,
  60%,
  75%,
  90% {
    -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transition-timing-function: cubic-bezier(.215, .61, .355, 1)
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    -ms-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0)
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    -ms-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0)
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    -ms-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0)
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    -ms-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0)
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}

.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp
}
.animated.flip {
  -webkit-backface-visibility: visible;
  -ms-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: flip;
  animation-name: flip
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s
}

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }

  30% {
    -webkit-transform: scale3d(1.25, .75, 1);
    transform: scale3d(1.25, .75, 1)
  }

  40% {
    -webkit-transform: scale3d(.75, 1.25, 1);
    transform: scale3d(.75, 1.25, 1)
  }

  50% {
    -webkit-transform: scale3d(1.15, .85, 1);
    transform: scale3d(1.15, .85, 1)
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1)
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1)
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }

  30% {
    -webkit-transform: scale3d(1.25, .75, 1);
    -ms-transform: scale3d(1.25, .75, 1);
    transform: scale3d(1.25, .75, 1)
  }

  40% {
    -webkit-transform: scale3d(.75, 1.25, 1);
    -ms-transform: scale3d(.75, 1.25, 1);
    transform: scale3d(.75, 1.25, 1)
  }

  50% {
    -webkit-transform: scale3d(1.15, .85, 1);
    -ms-transform: scale3d(1.15, .85, 1);
    transform: scale3d(1.15, .85, 1)
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    -ms-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1)
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    -ms-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1)
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand
}
