.spanCss{
  font-size: 53px;
  font-family: font-file-82132;
  color: #ffd700;
  font-weight: 600;
  line-height: 50px;
  cursor: default;
  opacity: 1;
  transition: all 0.1s ease;
  display:block
}
