@media (max-width:530px) {
  .preloader .inner {
    width: 80%;
    top: 20px
  }
}

.preloader {
  position: fixed;
  will-change: transform;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #022c43;
  z-index: 2;
  display: none;
  overflow: hidden;
  height: 100%;
  width: 100%
}

.preloader .inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 400px;
  max-width: 100%;
  height: 160px;
  text-align: center
}

.preloader .inner>img {
  width: 47px;
  display: block;
  margin: 0 auto
}

.preloader .inner>span {
  color: #8d8d8d;
  margin-top: 9px;
  font-size: 9px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 3px;
  margin-bottom: 30px;
  display: block
}

.preloader .progress-bar {
  text-align: left
}

.preloader .progress-bar_bg {
  height: 1px;
  background: #047765
}

.preloader .progress-bar_bg div {
  height: 1px;
  background: #ffd700;
  width: 0
}

.preloader .progress-bar span {
  color: #fff;
  text-align: right;
  float: left;
  font-size: 27px;
  font-family: font-file-82132;
  margin-bottom: 10px;
  display: block
}
