// index.scss
.preloader {
  position: fixed;
  will-change: transform;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #022c43;
  z-index: 2;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.preloader .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  width: 400px;
  text-align: center;
}

.preloader .inner>img {
  width: 16%;
  display: block;
  margin: 0 auto;
}

.preloader .inner>span {
  color: #8d8d8d;
  margin-top: 9px;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  margin-bottom: 30px;
  display: block;
}

.preloader .progress-bar {
  text-align: left;
}

.preloader .progress-bar_bg {
  height: 3px;
  background: #047765;
}

.preloader .progress-bar_bg div {
  height: 3px;
  background: #ffd700;
  width: 0;
}

.preloader .progress-bar span {
  color: #fff;
  text-align: right;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px;
  display: block;
}

@media (max-width: 530px) {
  .preloader .inner {
    max-width: 80%;
    width: 80%;
    top: 50%;
  }
}

@media (max-width: 768px) {
  .preloader .inner {
    width: 80%;
  }
}

@media (max-width: 530px) {
  .preloader .inner {
    width: 90%;
  }

  .preloader .inner>img {
    width: 20%;
    height: 10%;
  }

  .preloader .inner>span {
    font-size: 10px;
  }

  .preloader .progress-bar span {
    font-size: 12px;
  }
}
