.cloudContainer--item:hover {
  color: #c79b23
}

.cloud-Container {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 500;
  margin: 0 auto;
  width: fit-content;
  margin-bottom: 1%;
  cursor: pointer !important;
  transition: transform 0.7s ease;
  justify-content: center;
}

.zoomed-out {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50%;
}

.zoomed-in {
  margin-top: 0%;
  margin-left: 13%;
}


.tagcloud {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 500;
  margin: 0 auto;
  width: fit-content;
  margin-bottom: 1%;
  cursor: pointer !important;
  transition: transform 0.7s ease;
}

.tagcloud--item:hover {
  color: #c79b23
}


@media only screen and (max-width: 768px) {
  .tagcloud{
    // width: fit-content;
    height: 700px;
    top: 1000px;
  }

  .cloud-Container {
    transform: scale(0.5);
    }
}
